main {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    grid-template-columns: 1fr 1fr 1fr;
    border: 20px;
    margin: auto;
    border-radius: 15px;
}

