.idovanalelemek{
    padding: 10px;
    text-align: justify;
}
.elrendezes{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    color: rgb(58, 37, 11);
    background-color: moccasin;
    border: 2px;
    padding: 50px;
    text-align: center;
}
@media screen and (max-width: 765px) {
        
     }